@font-face {
  font-family: IBMPlex;
  src: url("../assets/IBMPlexMono-Regular.ttf");
}

@font-face {
    font-family: SourceCodePro;
    src: url("../assets/SourceCodePro-Regular.ttf");
}

/* -------- Positioning classes  -------- */
.center {
    padding: 0;        /* gotten this from https://stackoverflow.com/a/7782251 */
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.left {
    top: 45%;
    left: 0%;
    position: absolute;
}

.right {
    top: 45%;
    right: 0%;
    position: absolute;
}

.midRight {
    top: 27%;
    right: 0%;
    position: absolute;
}

.midLeft {
    top: 27%;
    left: 1%;
    position: absolute;
}

.topLeft {
    top: 4%;
    left: 2%;
    position: absolute;
}

.topRight {
    top: 4%;
    right: 2%;
    position: absolute;
}

.bottomLeft {
    position:absolute;
    bottom:2%;
    left:2%;
}

.bottomRight {
    position:absolute;
    bottom:2%;
    right:-1%;
}

img.bottomLeft {
    position:absolute;
    bottom:0;
    left:0;
}

img.bottomRight {
    position:absolute;
    bottom:0;
    right:0;
}
/* General elements */

button {
    width: 10vw;
    height: 3vw;
}

body {
    background-color: #333;        
    overflow: hidden;
}


/*  -------- Normal game elements -------- */

#gameContainer {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 97%;
    height: 97%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
}

* {
  box-sizing: border-box;
}

.textingView {
    z-index: 2;
}

.characterImg {
    width: 20%;
}

.characterSpeech {
    width: 75%;
    height: 20%;
}

.chatWindowBG {
    position: absolute;
    width: 95%;
    height: 99%;
    background: black;
    opacity: 0.5;
    z-index: 2;
}

.chatWindowFG {
    position: absolute;
    width: 95%;
    height: 99%;
    top: 5%;
    left: 1%;
    background: black;
    opacity: 0.5;
    z-index: 2;
    font-family: IBMPlex;
}

.chatWindowFG p {
    position: absolute;
    color: white;
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
    font-size: 1.35vw;
    font-weight: 900;
    font-family: IBMPlex;
    margin-top: 2vh;
    z-index: 3;
    margin-left: 1vw;
    margin-right: 1vw;
}

@media screen and (max-width: 800px) {
  .chatWindowFG p {
     font-size: 30px;
  }
  #musicControlLabel {
    font-size: 2vw;
  }
  #skipScreenLabel {
    font-size: 2vw;
  }
}

#decision, #minigame {
    position: absolute;
    width: 95%;
    height: 25%;
    left: 5%;
    top: 4%;
}


#musicControl {
    height: 5vh;
    width: 5vw;
    position: absolute;
    bottom: 2%;
    left: 46%;
    z-index: 2;
}

#musicControlLabel {
    position: absolute;
    color: white;
    bottom: 6.5%;
    left: 44.5vw;
    font-size: 0.6vw;
    font-family: IBMPlex;
    z-index: 4;
}

#skipScreen {
    height: 6vh;
    width: 3vw;
    position: absolute;
    bottom: 1.5%;
    left: 50.5%;
    z-index: 2;
}

#skipScreenLabel {
    position: absolute;
    color: white;
    bottom: 6.5%;
    left: 49vw;
    font-size: 0.6vw;
    font-family: IBMPlex;
    z-index: 4;
}

#musicCredits {
    position: absolute;
    color: white;
    font-size: 0.8vw;
    font-family: IBMPlex;
    z-index: 4;
    left: 1%;
    font-style: italic;
    background-color: black;
    padding: 3px;
    border-radius: 4px;
    top: 0%;
    overflow: auto;
    text-align: left;
}

/* Decision elements */

.row {
    position: absolute;
    bottom: 9%;
    left: 27.5%;
    width: 40vw;
    height: 20vh;
    visibility: hidden;
    z-index: 10;
}

.col-sm-12 {
    display: flex;
    /*margin-bottom: 1%;*/
    padding-right: 0;
    padding-left: 0;
}

.col-sm-12 button {
    width: 20vw;  
    height: 9vh;
    margin-right: 3vw;
    margin-bottom: 2vh;
    background-color: black !important;
    opacity: 0.8;
    font-family: IBMPlex;
    white-space: normal;
    border-color: transparent;
    z-index: 10;
}

.leftBtn {
    /*margin-right: 4vw;*/
}


#narration {
    width: 45%;
    height: 20%;
}

